{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="blog-index">

<div id="banner">
	<a href="#"><img src="{% static 'My_Blog/images/banner.jpg' %}" alt="banner image" /></a>
	</div> 
	{%for blogpost in blogposts|slice:sl%}
      <article>
        <header>
          <p class="meta">
            <time pubdate="{{ blogpost.pub_date }} data-updated="{{ blogpost.pub_date }}"" >
              {{ blogpost.pub_date|date:'M'|upper }}
              {{ blogpost.pub_date|date:"dS"|upper }}, {{ blogpost.pub_date.year }}
            </time>
          </p>
          <h1 class="title-link">
            <a href="{{ blogpost.get_absolute_url }}"><b>{{ blogpost.title }}</b></a>
          </h1>
        </header>
        {{ blogpost.body  }}

      </article> 
     	<style type="text/css">
 <!--
.hr0{ height:1px;border:none;border-top:1px dashed #0066CC;}
 -->
    	</style>
        <hr class="hr0" />


{%endfor%}
  <div class="pagination">
    {% if newer_page %}
      <a class="next" href="/{{ newer_page }}/" style="float:right;">← Newer</a>
    {% endif %}
    <a href="/archive" >Blog Archives</a>
    {% if prev_page %}
      <a class="prev" href="/{{ prev_page }}/" style="float:right;">Older →</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
